:root {
    --fontOrange: #FFBF69;
    --fontTeal: #2EC4B6;

}
/* Container Border - Helper CSS */
.container {
    /* border: green solid 3px !important; */
    margin-top: 30px;
}

body > .container-fluid {
    margin-bottom: 0;
}

.container-fluid {
    /* border: red solid 2px; */
    margin-top: 10px;
    margin-bottom: 150px;
}

/* .row   {
    border: solid red 2px;
} */

.navbar {
    background-color: #FFFFFF;
    margin: 0px 150px 0px 150px;
    
}

.navbar-light,
.navbar-brand {
    color: #2EC4B6 !important;
    font-weight:500;
}

.xbg-colour {
    background-color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
}


#headline > .container {
    display: flex;
    justify-content:center;
    align-items:center;
    
}

#headline h1 {
    margin-left: 30px;
}

h1 {
    color: #2EC4B6;
    font-size: 60px;
}

h2 {
    color: #2EC4B6;
    font-size: 38px;
}

h4 {
    /* color: #81B29A; */
    color: var(--fontTeal);
}

.font-dark {
    color:#FFBF69 ;
}


#work .card {
    margin-top: 20px;
    /* height: 275px; */
    border: solid #2EC4B6 4px;
}
#work .card-body {
    margin: 0px;
}

#work .card:hover {
        box-shadow: 2px 2px 30px #929295;
        opacity: 1;
}

.btn {
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    padding: 0px !important;   
}

.btn:hover {
    background-color: var(--fontOrange);
    padding: 0.375rem 0.75rem !important;
}

i {
    padding: 10px;
}

#contact a {
    color: var(--fontTeal);
    filter:drop-shadow(5px 5px 12px #929295);
    opacity: 1;

}

#contact a:hover {
    color: var(--fontOrange);
}

#contact .container {
    align-items: center;
}

#contact .container-fluid {
    /* border: solid red 2px; */
   margin: 0 
}

#skills .container-fluid {
    margin-bottom: 100px;
}

/* #css-cheatsheet {
    background-image: url(../images/css-cheatsheet-screenshot.png);
    background-size: cover;
    background-blend-mode: ;

} */

/* Media Queries */

/* Extra Small devices (landscape phones, 425px and up) */
@media (min-width: 425px) {  
    h1 {font-size:2rem;} /*1rem = 16px*/
    .sticky-top {position: relative;}
  }

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    h1 {font-size:1.5rem;} /*1rem = 16px*/
    .sticky-top {position: relative;}
  }

@media (min-width: 576px) {
  .jumbotron {padding: 2rem 2rem;} 
    .sticky-top {position: relative;}
  }
  
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h1 {font-size:3.5rem;} /*1rem = 16px*/
    .sticky-top {position: sticky;}
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1 {font-size:2.5rem;} /*1rem = 16px*/
    .sticky-top {position: sticky;}
  }

  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    h1 {font-size:4rem;} /*1rem = 16px*/    
    .sticky-top {position: sticky;}
  }