.navbar {
    background-color: #3D405B;
    margin: 50px 50px 0px 50px;
}

.navbar-dark,
.navbar-brand {
    /* color: #81B29A !important; */
    font-weight:500;
}

.xbg-colour {
    background-color: #3D405B;
}

body {
    background-color: #E07A5F;
}

.jumbotron {
    margin: 0px 50px 0px 50px;
    border-radius: 0 !important;
}

.container {
    border: red solid 3px !important;
}

#about-me > .container {
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

#about-me h1 {
    margin-left: 40px;
}

/* #about-me > .container > .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
} */

h1 {
    color: #81B29A;
}

.font-dark {
    color:#5e5f5f ;
}